<div class="jumbotron">
<h1>About</h1>
<p>Podcasting has become a quick and easy way for people to connect with like-minded people via the spoken word. We view each podcaster as a leader: some have a huge following while some are just starting out. Bottom line: we want to celebrate you and this database is here to serve the podcaster first and foremost. We anticipate some wonderful benefits with our site.</p>

<h4>PERSONAL PROFILE</h4>

<p>The ability to maintain a personal profile is one of the unique features that makes IPDB stand out from podcast delivery sites. Your personal profile is equally as important as the content that you are sharing with the world. As a podcast celebrity, people will be able to research your podcasts and rate and review your work. This feedback is valuable for your brand and your efforts in this field.</p>

<h4>TALENT SCOUTS</h4>

<p>Talent scouts have already given their voice of approval for IPDB as they are constantly looking for voice over talent. This is where your personal profile become a value tool. This is much like the celebrities on IMDB who will tell you that their profile helps tremendously in their career.</p>

<p>These are just a few benefits that we would like to share. Keep checking back as we are in development. 
If you would like to be a Beta Tester, please email info@ipdb.net.</p>
</div>
<script>
	$('body').addClass('about');
</script>