<div class="container">
	<h1>FAQ</h1>
	<div class="panel-group" id="accordion">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
	          What is IPDb?
	        </a>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse in">
	      <div class="panel-body">
	        IPDb is the Internet Podcast Database. It’s a Who’s Who directory of podcasters – hosts, co-hosts, guests, and more – as related to their podcasts.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
	          How is IPDb different from other podcast platforms?
	        </a>
	      </h4>
	    </div>
	    <div id="collapseTwo" class="panel-collapse collapse">
	      <div class="panel-body">
	        IPDb is more about the people – the people in front of the mic and those behind the scenes. IPDb gives the opportunity to credit to the podcast team. Whether your podcast is a one-person show to an elaborate audio performance with a large team, IPDb has room to list all the credits.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
	          How and where do you get your information?
	        </a>
	      </h4>
	    </div>
	    <div id="collapseThree" class="panel-collapse collapse">
	      <div class="panel-body">
	        <p>The information on the Internet Podcast Database comes from various sources. We invite you, as people interested in podcasts, to submit information. We will do our best to provide the most accurate information possible, but we can not guarantee 100% accuracy. We welcome corrections and additions.</p>
			<p>Furthermore, IPDb shall not be liable for any loss or damage that may occur out of the inaccuracy of information.</p>
	      </div>
	    </div>
	  </div>
	  <!--<div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
	          How much does IPDb cost to use?
	        </a>
	      </h4>
	    </div>
	    <div id="collapseFour" class="panel-collapse collapse">
	      <div class="panel-body">
	        <p>IPDb (www.ipdb.net) is free for non-commercial use. We make our revenue by the advertisers listed on the site. If you would like to support our efforts, please click on the advertisements that appeal to you. Otherwise, simply enjoy browsing and become better acquainted with your favorite podcasters.</p>
			<p>If you are in the podcast industry, you can upgrade to PodcasterPRO which offers some features that you won’t find anywhere else. A paid subscription is required to utilize PodcasterPRO, but you can give it a shot with the free trial first.</p>
	      </div>
	    </div>
	  </div> -->
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
	          Why should I register with IPDb?
	        </a>
	      </h4>
	    </div>
	    <div id="collapseFive" class="panel-collapse collapse">
	      <div class="panel-body">
	        <p>Even though anyone can browse the information, only registered users have access to additional features such as rating and reviewing podcasts as well as submitting corrections and updates to the database.</p>
	        <p>Registration is free and requires a valid e-mail address.</p>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
	          How long do submission and/or corrections take?
	        </a>
	      </h4>
	    </div>
	    <div id="collapseSix" class="panel-collapse collapse">
	      <div class="panel-body">
	        IPDb is not updated simultaneously with your submission. We must verify your information with the links provided in your submission.  Hard to believe, but there are goofballs out there that submit incorrect information on purpose. The quickest way to provide third-party verification to your podcast.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
	         Can I remove my podcast?
	        </a>
	      </h4>
	    </div>
	    <div id="collapseSeven" class="panel-collapse collapse">
	      <div class="panel-body">
	        Absolutely. If you do not want your podcast to be listed in our free directory, send an email with information about your podcast to info@ipdb.net. We will delete your podcast from the database.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
	         Where have you been all my life?
	        </a>
	      </h4>
	    </div>
	    <div id="collapseEight" class="panel-collapse collapse">
	      <div class="panel-body">
	        Ha, ha! Thanks for the warm fuzzy thoughts. We were wondering the same thing about podcasts!
	      </div>
	    </div>
	  </div>
	</div>	
</div>


