<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

<style>
  .body-overlay,
  .strip-highlight,
  .form-row input.btn,
  .form-row input.btn:hover,
  .form-row input.btn:focus,
  #header ul li.active a,
  .info a.btn,
  .pricing .blocks .inner ul li h2,
  #footer{
    background-color:#6D2F85;
  }

  h2.title span, .mega{
    color:#6D2F85;
  }

  a.btn{
    background-color:#6D2F85;
    color:#fff;
  }
  .mega{
    background:transparent;
  }

  .glyph-item.icon-check{
    color:#000;
  }
</style>

<%= render 'share_modal' if @share %>

<a class="anchor" id="home"></a>

<% if user_signed_in? %>
  <%= render partial: 'search_box' %>
<% else %>
  <%= render partial: 'slider' %>
<% end %>

<div class="strip strip-alt strip-highlight overview-box">
  <div class="container">
    <a class="anchor" id="overview"></a>

    <!-- Start strip 1 -->
    <div class="row animatedParent animateOnce" data-appear-top-offset='-100'>
      <div class="span3">
        <div class="inner align-center animated bounceInUp">
          <div style="text-align: center;">
            <span aria-hidden="true" class="glyph-item mega icon-badge"></span>
          </div>
          <h2 class="label">PROFILE</h2>
          <p>
          Craft your personal profile, highlight your podcast, and all the work that goes on
          behind the scenes.
          </p>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="span3">
        <div class="inner align-center animated bounceInUp">
          <div style="text-align: center;">
            <span aria-hidden="true" class="glyph-item mega icon-directions"></span>
          </div>
          <h2 class="label">FOLLOW</h2>
          <p>
          Follow your favorite podcasts and explore new podcasts.
          </p>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="span3">
        <div class="inner align-center animated bounceInUp">
          <div style="text-align: center;">
            <span aria-hidden="true" class="glyph-item mega icon-cursor-move"></span>
          </div>
          <h2 class="label">SHARE</h2>
          <p>
          Invite your friends to view your profile, listen to a podcast, or interact in other
ways.
          </p>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="span3">
        <div class="inner align-center animated bounceInUp">
          <div style="text-align: center;">
            <span aria-hidden="true" class="glyph-item mega icon-star"></span>
          </div>
          <h2 class="label">RATE</h2>
          <p>
          Rate and review podcasts. Respond to reviews.
          </p>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- End strip 1 -->
  </div>
</div>


<div class="strip">
  <div class="container">
    <a class="anchor" id="podcasts"></a>
    <!-- Start strip 3 -->
    <%= render partial: 'podcasts_list' %>
  </div>
</div>

<!-- Start footer -->
<div id="footer" class="strip animatedParent ">
</div>

<script src="http://masonry.desandro.com/masonry.pkgd.js"></script>
<script>
  $(function(){
    $('.facebook').masonry({
      itemSelector: '.fb'
    });
  });
</script>
