<div class="container">
	<div class="row">
		<h2>Media</h2>
		<h4>Podcasts are recognized as viable media outlets for all sorts of businesses from the entertainment industry to real estate to product endorsements.<br>
			<br>IPDb has awarded the following media badges.</h4>
		<hr />
		<div class="col-md-4">
			<img src="http://buildthedeal.com/highroad/images/serena.jpg" class="img-rounded" width="50%">
			<h4>Serena Travis, Podcast Host</h4>
		</div>
		<div class="col-md-4">
			<img src="http://buildthedeal.com/highroad/images/drake.jpg" class="img-rounded" width="50%">	
			<h4>Drake Travis, Talk Show Host</h4>
		</div>
		<div class="col-md-4">
			<img src="http://buildthedeal.com/highroad/images/paxton.jpg" class="img-rounded" width="50%">
			<h4>Marc Jordan Paxton, Food Marketing Podcast</h4>
		</div>		
		<hr /><br>
	</div>
		<h4>To apply for a media badge, send an email to info@ipdb.net and put Media Badge in the subject line. This process will take approximately 2-4 weeks, so please allow enough time before your next event.</h4>