<div class="container pricing">
  <div class="row ">
    <div class="pricing-table-wrapper col-sm-10 col-sm-offset-1">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <div class="pricing-table">
            <hgroup>
              <h1>IPDb Pricing Plans</h1>
            </hgroup>
            <div class="row">
              <div class="col-sm-6">
                <div class="card silver">
                  <header class="card-header">
                    <h3>Silver</h3>
                    <span class="monthly-price">
                      <small>$</small><%= @silver.price.to_i %><span>/ mo.</span>
                    </span>
                    <a class="btn btn-block" href="<%= new_user_registration_path(plan: @silver.name) %>">Start Trial</a>
                    <span class="trial-period">14-day Free Trial</span>
                  </header>
                  <ul class="card-content">
                    <li>Bla</li>
                    <li>Bla</li>
                    <li>Bla</li>
                    <li>Bla</li>
                    <hr />
                  </ul>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="card basic">
                  <header class="card-header">
                    <h3>Basic</h3>
                    <span class="monthly-price">
                      <small>$</small>free
                    </span>
                    <a class="btn btn-block" href="<%= new_user_registration_path(plan: 'basic') %>">Sign Up</a>
                    <span class="trial-period--invisible">Stub</span>
                  </header>
                  <ul class="card-content">
                    <li>Bla</li>
                    <li>Bla</li>
                    <li>Bla</li>
                    <li>Bla</li>
                    <hr />
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
