.ir-comment {
  border-top:1px solid #e3e3e3;
  margin: 0;
  padding: 8px 12px 4px;
  border-radius: 0 0 2px 2px;
  background-color:#f6f7f8;
  overflow: auto;
}

.ir-comment__avatar {
  float:left;
  display:block;
}

.ir-comment__avatar img {
  width:32px;
  height:32px;
}

.ir-comment__name {
  margin: 0;
  padding-left: 8px;
  overflow: hidden;
}

.ir-comment__content {
  margin: 0;
  padding-left: 8px;
  overflow: hidden;
  white-space:pre-wrap;

  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.ir-comment__footer {
  margin-left: 40px;
  padding-top: 5px;
  overflow:hidden;
  font-size:12px;
}

.ir-comment__footer a {
  color:#3b5998;
  cursor: pointer;
}

.ir-comment__footer .time-left {
  color:#B00000;
}

.ir-comment-form {
  border-top:1px solid #e3e3e3;
  margin: 0;
  padding: 8px 12px 4px;
  border-radius: 0 0 2px 2px;
  background-color:#f6f7f8;
  overflow: auto;
}

.ir-comment-form__avatar {
  float:left;
  display:block;
}

.ir-comment-form__avatar img {
  width:32px;
  height:32px;
}

.ir-comment-form__input {
  margin: 0;
  padding-left: 8px;
  overflow: hidden;
}

.ir-comment-form__buttons {
  float: right;
  margin-top: 4px;
}

.ir-comment-form__buttons .btn{
  box-shadow:none;
  margin-left:4px;
}

.ir-comment-form__submit:hover {
  box-shadow:none;
}

.ir-comment-form__input textarea {
  border-color: #dcdee3;
  width:100%;
  padding: 5px;

  display:block;
  box-sizing: padding-box;
  overflow:hidden;
}

.ir-comment-delete {
  border-top:1px solid #e3e3e3;
  margin: 0;
  padding: 10px 12px;
  border-radius: 0 0 2px 2px;
  background-color:#f6f7f8;
  overflow: auto;
}

.ir-comment-delete h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.ir-comment-delete__buttons .btn{
  box-shadow:none;
}
.ir-comment-delete__buttons .btn:first-child {
  margin-right:5px;
}
