.companies h4 {
  font-size: 14px;
}

.companies li {
  list-style: none;
  height: 340px;
}

.companies .rating-box {
  margin: 8px 5px 8px 0px;
}

.companies .rating-box .star {
  display: block;
}

.company-list__company {
  min-height: 100px;
}
.company-list__company__layout-left {
  display: inline-block;
}
.company-list__company__layout-right {
  display: inline-block;
  vertical-align: top;
}
.company-list__company__layout-right h5 {
  margin-bottom: 0px;
}
.company-list__company__layout-left .company-logo--thumb {
  background-color: #F5F5F5;
  vertical-align: top;
  width: 80px;
  margin-right: 13px;
}
