.companies h4 {
  font-size: 14px;
}

.companies li {
  list-style: none;
  height: 340px;
}

.companies .rating-box {
  margin: 8px 5px 8px 0px;
}

.companies .rating-box .star {
  display: block;
}
