.people-list .person-photo {
  width: 58px;
}

.people-list .person-photo a {
  margin-right: 10px;
}

.people-list .podcasts {
  font-size: 0.9em;
}

.people-list .new-person td {
  padding-top:20px;
}

.people-list .new-person td p {
  color:black;
}

.people-list .jumbotron {
  background-color: #F9F9F9;
}

.people-list .jumbotron p {
  font-size: 1.1em;
  color: black;
}
