.podcasts-list__submit-podcast-btn {
  float: right;
  box-shadow: none;
}

.podcasts-list__submit-podcast-btn:hover {
  box-shadow: none;
}

@media (min-width: 768px) {
  .podcast-thumb {
    margin-left: -5px;
    margin-right: -5px;
  }
}

@media (max-width: 768px) {
  .podcasts-list__submit-podcast-btn {
    float: none;
    width: 100%;
  }
  .podcasts-list h1 {
    font-size: 2.4em;
    margin-top: 20px;
  }
}

.podcasts-list .thumbnail {
  background-color: #fff;
  border-radius: 0;
  padding: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
  min-height: 360px;
}

.podcasts-list .thumbnail img.podcast-art {
  width: 100%;
}

.podcasts-list .thumbnail .caption {
  padding: 0;
  position:relative;
}

.podcasts-list .thumbnail .caption .rating-box {
  text-align:center;
  margin-top: 8px;
  margin-bottom: 6px;
}

.podcasts-list .thumbnail .caption .rating-box .rank {
  position:absolute;
  left:0;
  margin-top: 4px;
}

.podcasts-list .thumbnail .caption header {
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  height: 2.7em;
  margin-bottom:5px;
}

.podcasts-list .thumbnail .caption header h4 {
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.3em;
}

.podcasts-list .thumbnail .caption .host-list {
  margin-top: 6px;
  font-size: 13px;
  max-height: 36px;
  overflow: hidden;
}
