.user-info__social-links {
  margin-top:5px;
}

.user-info__social-links i.stub {
  color: rgba(204, 204, 204, 0.6);
}

.user-info__pane-stub {
  padding: 50px 0px;
  margin-left:auto;
  margin-right:auto;
  max-width:300px;
}

.user-info__tab-pane {
  min-height: 174px;
}
