/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 */

@import 'bootstrap_and_customization';
@import 'comments';
@import 'simple-line-icons';
@import 'flexslider';
@import 'style';
@import "font-awesome";
@import 'pages';

body{
  padding-top:60px;
}

.podcast-img img{
  width:100%;
}

.fa-1x{
  font-size:1.5em;
}

.badges{
  text-align:center;
}

.fa-trophy{
  color:purple;
}

.fa-certificate{
}

.form-box-special-graphic img{
  margin-top:10px;
}

.container{
  margin-top:60px;
}

.btn:hover, .btn:focus, .btn.focus {
  color: gold;
}
