<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <%= render 'profile/sidebar' %>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <% if can? :create, Message %>
        <%= render partial: 'messages/index_can_compose' %>
      <% else %>
        <%= render partial: 'messages/index_cannot_compose' %>
      <% end %>
    </div>
  </div>
</div>
