<div class="container">
  <h1>Editing podcast</h1>
  <% if current_user && current_user.host?(@podcast) %>
    <%= render 'form' %>
  <% else %>
    <h4>You cannot edit this Podcast</h4>
  <% end %>
  <%= link_to 'Show', @podcast %> |
  <%= link_to 'Back', podcasts_path %>
</div>
